/* Imagen de las cards */
.card-img-top {
  height: 100px;
  object-fit: cover;
}

/* Todas las cards misma altura */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

/* SOLO la columna registro tiene scroll */
#colRegistro {
  max-height: 80vh;
  overflow-y: auto;
}
