.caja-estilo-1 {
  background-color: lightblue;
  color: black;
  font-size: 18px;
  border-radius: 10px;
}

.cajaVerde {
  background-color: lightgreen !important;
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid darkgreen;
}
